.App {
  display: flex;
  justify-content: center;
  align-items: center;
}

.App-logo {
  pointer-events: none;
  height: 30vmin;

  @media (prefers-reduced-motion: no-preference) {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
  font-size: calc(10px + 1vmin);
  background-color: #282c34;
  color: white;
}

.App-link {
  text-decoration: none;
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
